@media (min-width: 741px) {
  #about td p {
    font-size: 24px;
    padding: 20px;
  }
  #header #menu-btn {
    display: none;
  }
}

/* moblie */
@media (max-width: 740px) {
  #content td:first-child {
    width: 40%;
  }
  #content td:last-child {
    width: 60%;
  }
  #about .profile-img {
    margin: auto;
  }
  #header {
    overflow: hidden;
  }
  #nav,
  #nav li,
  #nav li a {
    display: block;
  }

  #nav li:first-child {
    display: inline-block;
  }
  /* #header #menu-btn {
    display: inline-block;
  } */
}
